<% if @repository.blank? %>
  <div class="alert alert-danger fade in">
    This repository does not exist.
  </div>
<% else %>
  <div class="container-fluid">
    <div class="col-md-8 col-md-offset-2">
      <div class="page-header">
        <h1>
          <%= @repository.name %>
          <%= link_to image_tag('github.png'), @repository.github_url,
            title: 'View on GitHub' %>
        </h1>
      </div>

      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#contributions" aria-controls="contributions" role="tab" data-toggle="tab">Contributions</a</li>
        <li role="presentation"><a href="#charts" aria-controls="charts" role="tab" data-toggle="tab" data-graphurl="<%= graphs_repository_path(@repository) %>">Charts</a></li>
      </ul>

      <div class="tab-content">
        <br />
        <div role="tabpanel" class="tab-pane active" id="contributions">
          <%= render partial: 'coders/scoreboard' %>
        </div>

        <div role="tabpanel" class="tab-pane" id="charts">
          <%= render partial: 'application/chart_is_loading' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
