<div class="container-fluid">
<div class="col-md-10 col-md-offset-1">

    <div class="page-header">
    <h1>This week in code</h1>
    </div>

    <div class="row">
    <div class="col-md-6">
        <div class="well top4">
        <table id="top-coders" class="table table-striped">
            <tbody>
            <% @coders.each_with_index do |coder, index| %>
                <tr>
                <td class="rank">
                    <% if index != 0 %>
                    <%= index + 1 %>.
                    <% end %>
                </td>
                <td class="avatar">
                    <%= image_tag coder.avatar_url, alt: coder.github_name,
                        size: (index == 0 ? '120' : '45') %>
                </td>
                <td class="name">
                    <%= link_to coder.github_name, coder_path(coder), class: "username" %>
                    <br>
                    <% unless coder.full_name.blank? %>
                    <small><%= coder.full_name %></small>
                    <% end %>
                </td>
                <td class="score"><%= format_score coder.score %></td>
                </tr>
            <% end %>
            </tbody>
        </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="well top4">
            <svg id="top-repos" ViewBox="0 0 600 300"></svg>
        </div>
    </div>
    </div>

      <div class="row">
        <div class="col-md-4">
          <h2 class="text-center">New issues</h2>
          <div class="well top4">
            <table id="new-issue" class="table table-striped">
              <tbody>
                <%= render partial: 'issue', collection: @new_issues %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-4">
          <h2 class="text-center">Largest bounties</h2>
          <div class="well top4">
            <table id="top-issue" class="table table-striped">
              <tbody>
                <%= render partial: 'issue', collection: @top_issues %>
              </tbody>
            </table>
          </div>
        </div>
        <div class="col-md-4">
          <h2 class="text-center">Recently closed</h2>
          <div class="well top4">
            <table id="closed-issue" class="table table-striped">
              <tbody>
                <%= render partial: 'issue_closed', collection: @closed_issues %>
              </tbody>
            </table>
          </div>
        </div>
      </div>

  </div>
</div>

<script>
var data = <%=raw @top_repos.to_json %>;

var margin = { top: 20, right: 20, bottom: 25, left: 20 };
var width = 600 - margin.right - margin.left;
var height = 300 - margin.top - margin.bottom;

var value = function(d) { return d.score; };


var x = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1)
    .domain( data.map(function(d) { return d.name; }) );

var y = d3.scale.linear()
    .range([height, 0])
    .domain([0, d3.max(data, value)]);


var chart = d3.select("#top-repos")
  <%#.attr("width", width + margin.left + margin.right)%>
  <%#.attr("height", height + margin.top + margin.bottom)%>
  .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

var bar = chart.selectAll("g")
    .data(data)
  .enter().append("g")
    .attr("transform", function(d) { return "translate(" + x(d.name) + ",0)";});

bar.append("rect")
    .attr("y", function(d) { return y(value(d)); })
    .attr("height", function(d) { return height - y(value(d)); })
    .attr("width", x.rangeBand());

bar.append("text")
    .attr("x", x.rangeBand()/2)
    .attr("y", function(d) { return y(value(d)); })
    .attr("dy", "1.25em")
    .text(function(d) { return value(d); });


var xAxis = d3.svg.axis()
    .scale(x)
    .orient("bottom");

chart.append("g")
    .attr("class", "axis xaxis")
    .attr("transform", "translate(0," + height + ")")
    .call(xAxis)
    .selectAll("text")
        .attr("dy", "1em");



</script>
