<% if @coder.blank? %>
    <p>This person does not exist.</p>
<% else %>

<div class="row">
    <div class="col-md-12">
        <h1><%= @coder.github_name %> <small><%= @coder.full_name %></small></h1>
    </div>
</div>

<div class="row">
    <div class="col-md-7 well">
        <div class="col-md-5">
            <%= image_tag @coder.avatar_url, alt: @coder.github_name, class: 'profile_pic' %>
        </div>
        <div class="col-md-7">
            <ul class="list-group">
                <li class="list-group-item list-group-item-info">Score <span class="badge"><%= @coder.total_score %></span></li>
                <li class="list-group-item">Commits <span class="badge"><%= @coder.commits %></span></li>
                <li class="list-group-item">Line additions <span class="badge"><%= @coder.additions %></span></li>
                <li class="list-group-item">Line modifications <span class="badge"><%= @coder.modifications %></span></li>
                <li class="list-group-item">Line deletions <span class="badge"><%= @coder.deletions %></span></li>
            </ul>
        </div>
    </div>
</div>

<% end %>
