<tr <% if coder_signed_in? && coder == current_coder %>class="info"<% end %>>
  <td class='rank'><%= coder_counter + 1 %>.</td>
  <td class='avatar'><%= image_tag coder.avatar_url, alt: coder.github_name, size: '45' %></td>
  <td class='name'>
    <%= link_to coder.github_name, coder, class: "username" %>
    <br>
    <% unless coder.full_name.blank? %>
      <small><%= coder.full_name %></small>
    <% end %>
  </td>
  <td class='score'><%= number_with_delimiter coder.total_score, delimiter: " " %></td>
  <td class='commits'><%= number_with_delimiter coder.commits.count, delimiter: " " %></td>
  <td class='additions'><%= number_with_delimiter coder.additions, delimiter: " " %></td>
  <td class='deletions'><%= number_with_delimiter coder.deletions, delimiter: " " %></td>
</tr>
