<% if @coder.blank? %>
  <div class="alert alert-danger fade in">
    This person does not exist.
  </div>
<% else %>
  <div class="container-fluid">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="page-header">
        <h1>
          <%= @coder.github_name %>
          <small><%= @coder.full_name %></small>
          <%= link_to image_tag('github.png'), @coder.github_url, title: 'View profile on GitHub' %>
        </h1>
      </div>

      <div class="well container-fluid">
        <div class="col-md-5">
          <%= image_tag @coder.avatar_url, alt: @coder.github_name, id: 'profile_pic', width:184, height: 184 %>
        </div>
        <div class="col-md-7">
          <ul class="list-group">
            <li class="list-group-item list-group-item-info">Score <span class="badge"><%= @coder.total_score %></span></li>
            <li class="list-group-item">Commits <span class="badge"><%= @coder.commits.count %></span></li>
            <li class="list-group-item">Line additions <span class="badge"><%= @coder.additions %></span></li>
            <li class="list-group-item">Line deletions <span class="badge"><%= @coder.deletions %></span></li>
            <% if @coder == current_coder %>
              <li class="list-group-item">Bounty residual<span class="badge"><%= @coder.abs_bounty_residual %></span></li>
              <li class="list-group-item">Reward residual<span class="badge"><%= @coder.reward_residual %></span></li>
            <%end%>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
<% end %>
