<% if @coder.blank? %>
  <div class="alert alert-danger fade in">
    This person does not exist.
  </div>
<% else %>
  <div class="container-fluid">
    <div class="col-md-10 col-md-offset-1">
      <div class="page-header">
        <h1>
          <%= @coder.github_name %>
          <small><%= @coder.full_name %></small>
          <%= link_to image_tag('github.png'), @coder.github_url, title: 'View profile on GitHub' %>
        </h1>
      </div>

      <ul class="nav nav-tabs">
        <li role="presentation" class="active"><a href="#tab-contributions" aria-controls="tab-contributions" role="tab" data-toggle="tab">Contributions</a</li>
        <li role="presentation"><a href="#tab-graphs" aria-controls="tab-graphs" role="tab" data-toggle="tab" data-graphurl="<%= graphs_coder_path(@coder) %>">Graphs</a></li>
        <li role="presentation"><a href="#tab-commit-history" aria-controls="tab-commit-history" role="tab" data-toggle="tab">Commit history</a></li>
        <li role="presentation"><a href="#tab-claimed-bounties" aria-controls="tab-claimed-bounties" role="tab" data-toggle="tab">Claimed bounties</a></li>
      </ul>

      <div class="tab-content">
        <br />

        <div role="tabpanel" class="tab-pane active" id="tab-contributions">
          <%= render partial: 'contributions' %>
        </div>

        <div role="tabpanel" class="tab-pane" id="tab-graphs" align="center">
          <%= render partial: 'application/chart_is_loading' %>
        </div>

        <div role="tabpanel" class="tab-pane" id="tab-commit-history">
          <%= render partial: 'coders/datatables/commit_history' %>
        </div>

        <div role="tabpanel" class="tab-pane" id="tab-claimed-bounties">
          <%= render partial: 'coders/datatables/claimed_bounties' %>
        </div>

      </div>
    </div>

  </div>
<% end %>
